@charset "UTF-8";
body {
  font-family: AvenirNextDemiBold, arial;
  height: 100%;
  color: #033;
  position: relative;
  background: #fff; }
  body.style {
    background: url(../images/banner/banner-1-1.jpg) top center no-repeat #fff;
    background-size: contain; }
  body .body-bgd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; }
  body .footer {
    z-index: 2;
    position: relative; }
  body .main {
    z-index: 2;
    position: relative;
    padding-top: 63px; }
  body .footer {
    padding: 50px 0 0;
    background-color: #444;
    color: #fff; }
    body .footer h6.heading {
      color: #fff;
      font-family: helveticaneuecond_bold, Arial, sans-serif;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0; }
    body .footer p {
      font-family: AvenirNextRegular, Arial, serif;
      color: #fff;
      font-size: 0.875rem;
      line-height: 1.7;
      margin-bottom: 16px;
      letter-spacing: 1px;
      font-weight: 300; }
    body .footer a {
      color: #fff; }

@media (max-width: 736px) {
  body .main {
    padding-top: 47.38px; } }
@media (max-width: 480px) {
  body .main {
    padding-top: 0; } }
@media (max-width: 480px) {
  body .footer {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px; } }
.block-sec {
  border: 2px solid #033;
  background: #fff; }

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px; }

.block-sec .select {
  margin-bottom: 0; }
.block-sec .form-control {
  border: 1px solid #033;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: none;
  -o-transition: none;
  -webkit-transition: none; }
.block-sec .select .form-control {
  font-size: 14px;
  line-height: 36px;
  height: 40px;
  padding: 0 12px;
  color: #033; }
.block-sec .select-alt .form-control {
  border-color: #fff;
  font-family: AvenirNextLTPro-Regular; }

.footer .copy, .footer ul li {
  font-family: AvenirNextRegular, Arial, serif; }

footer .copy {
  font-family: AvenirNextRegular, Arial, serif; }

.footer .copy, footer .copy {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 18px;
  margin-top: 18px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  position: relative; }

.footer .copy .col-md-8, footer .copy .col-md-8 {
  padding-top: 6px; }

.footer ul.social li, footer ul.social li {
  display: inline-block;
  margin-right: 9px;
  text-align: center; }

.footer ul.social li a, footer ul.social li a {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  background-color: #333;
  border-radius: 15px;
  display: block;
  transition: all 0.4s ease;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }

.footer ul.social li a i, footer ul.social li a i {
  line-height: 30px; }

.footer ul {
  padding-left: 0;
  font-size: 0.875rem;
  line-height: 1.7; }
  .footer ul li {
    list-style: none; }

@media (max-width: 768px) {
  .footer .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
@media (max-width: 480px) {
  .footer .col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .footer .copy .row {
    display: block;
    overflow: hidden; }

  .padding-leftright-null {
    float: left;
    width: auto; }
    .padding-leftright-null.col-xs-8 {
      float: right;
      width: auto; } }
a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.icon-mail {
  width: 40px;
  height: 38px;
  background: url(../images/icon-mail.png) center center no-repeat;
  background-size: cover;
  display: block; }

.dot1, .dot2, .icon-city, .icon-global, .icon-hand, .icon-house, .icon-money, .icon-people, .icon-tree, .icon-yoga {
  display: inline-block; }

.icon-money {
  margin-top: 20px;
  width: 78px;
  height: 42px;
  background: url(../images/icon-money.png) center center no-repeat;
  background-size: cover; }

.icon-yoga {
  width: 102px;
  height: 59px;
  background: url(../images/icon-yoga.png) center center no-repeat;
  background-size: cover; }

.icon-people {
  margin-top: 19px;
  width: 68px;
  height: 38px;
  background: url(../images/icon-people.png) center center no-repeat;
  background-size: cover; }

.icon-house {
  margin-top: 0;
  width: 50px;
  height: 60px;
  background: url(../images/icon-home-1.png) center center no-repeat;
  background-size: cover; }

.icon-city {
  width: 113px;
  height: 73px;
  background: url(../images/icon-home.png) center center no-repeat;
  background-size: cover; }

.icon-global {
  width: 84px;
  height: 83px;
  background: url(../images/icon-global.png) center center no-repeat;
  background-size: cover; }

.icon-hand {
  width: 87px;
  height: 78px;
  background: url(../images/icon-hand.png) center center no-repeat;
  background-size: cover; }

.icon-tree {
  width: 77px;
  height: 79px;
  background: url(../images/icon-tree.png) center center no-repeat;
  background-size: cover; }

@media (max-width: 767px) {
  .icon-money {
    margin-top: 13px;
    width: 39px;
    height: 21px; }

  .icon-yoga {
    width: 51px;
    height: 30px; }

  .icon-people {
    margin-top: 12px;
    width: 34px;
    height: 19px; }

  .icon-house {
    width: 25px;
    height: 30px;
    margin-top: 2px; } }
@media (max-width: 480px) {
  .icon-city {
    width: 56.5px;
    height: 36.5px; }

  .icon-global {
    width: 42px;
    height: 41.5px; }

  .icon-hand {
    width: 43.5px;
    height: 39px; }

  .icon-tree {
    width: 38.5px;
    height: 39.5px; }

  .icon-money {
    margin-top: 9px; } }
.header, .loading {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

.header {
  z-index: 99;
  transition: all 0.3s ease-out; }
  .header.active {
    background: #fff;
    box-shadow: 0 2px 4px -2px rgba(156, 156, 156, 0.5); }

@media (max-width: 768px) {
  .header {
    background: rgba(255, 255, 255, 0.6); } }
.loading {
  height: 100%;
  background: #fff;
  z-index: 9999; }

.spinner {
  top: 50%;
  margin: -20px auto 0;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear; }

.dot1 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
  background-color: #031d1f;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out; }

.dot2 {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 0;
  background-color: #031d1f;
  border-radius: 100%;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes sk-bounce {
  0% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }
@keyframes sk-bounce {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }
.btn-top {
  position: fixed;
  right: 40px;
  opacity: 1;
  z-index: 999;
  bottom: 60px;
  display: none; }
  .btn-top i {
    font-size: 1rem;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    background: #031d1f;
    color: #fff;
    border-radius: 3px;
    opacity: 0.8;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.art-1 img, .slick-slider-1 article, .slider-1 .slick-slide a img {
  transition: all 0.4s ease; }

.btn-top:hover i {
  opacity: 1;
  line-height: 30px; }

@media (max-width: 480px) {
  .btn-top {
    right: 24px;
    bottom: 50px; }
    .btn-top i {
      font-size: 1rem;
      width: 30px;
      height: 30px;
      line-height: 26px; } }
.slick-slider-1 .slick-next, .slider-1 .slick-next {
  right: 0; }

.main-nav {
  text-transform: uppercase;
  font-family: AvenirNextLTPro-Cn; }
  .main-nav .navbar-brand img {
    width: 190px;
    box-sizing: border-box; }
  .main-nav .navbar-nav li img {
    max-width: 24px; }
  .main-nav .navbar-nav li a {
    color: #103333;
    font-family: DINCond; }
  .main-nav .navbar-nav li.user .dropdown-menu {
    background: #103333;
    border: 0;
    margin-top: 0;
    animation-duration: 0.5s; }
    .main-nav .navbar-nav li.user .dropdown-menu a {
      color: #fff; }
      .main-nav .navbar-nav li.user .dropdown-menu a:hover {
        color: #103333; }

.highlight h2, .highlight-global h2 {
  color: #07302C;
  font-family: DINCond;
  text-transform: uppercase;
  text-align: center; }

.main-nav .navbar-nav li.user:hover .dropdown-menu {
  display: block; }

@media (max-width: 768px) {
  .main-nav .navbar-nav li.user .dropdown-menu {
    border-radius: 0; }
  .main-nav .ml-auto li:first-child {
    margin-top: 10px; } }
@media (max-width: 736px) {
  .main-nav {
    padding: 0.2rem 1rem; }
    .main-nav .navbar-brand img {
      width: 140px; } }
@media (max-width: 480px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }
.highlight {
  margin: 25px 0;
  padding: 25px 45px;
  background: #fff; }
  .highlight h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 15px; }

.sub {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px; }
  .sub p {
    margin-bottom: 0; }

.highlight.no-padding {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden; }

.highlight-global {
  margin: 55px 0; }
  .highlight-global .sub-title {
    margin-top: 0;
    margin-bottom: 20px; }
  .highlight-global h2 {
    margin-top: 0;
    margin-bottom: 20px;
    background: #fff;
    font-size: 2.25rem;
    padding: 17px 15px 13px 15px; }

.main-slider .slick-slide .slider-ctn.ctn-white {
  color: #fff; }
  .main-slider .slick-slide .slider-ctn.ctn-white h3 a {
    color: #fff; }

.highlight-global-1 h2 {
  background: #ebf5f5; }

@media (max-width: 480px) {
  .highlight {
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden; }
    .highlight h2 {
      font-size: 1.825rem; }

  .sub p {
    font-size: 0.875rem; }

  .highlight-global h2 {
    font-size: 1.875rem; } }
.main-slider .slick-slide {
  position: relative; }
  .main-slider .slick-slide .banner-outer {
    width: 100%;
    height: 0;
    padding-bottom: 51.2%;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .main-slider .slick-slide .slider-ctn {
    text-align: left;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    padding: 30px; }

.art-1 > div .time, .art-1 > h3 {
  text-align: center; }

.art-user, .frm-find h3, .inner-banner-1 {
  text-align: center; }

.main-slider .slick-slide .slider-ctn.ctn-green h3 {
  padding: 12px 40px 8px 40px;
  text-transform: uppercase;
  font-family: DINCond;
  font-weight: 600;
  display: inline-block;
  clear: both; }
.main-slider .slick-slide .slider-ctn.ctn-white h3 {
  padding: 12px 40px 8px 40px;
  text-transform: uppercase;
  font-family: DINCond;
  font-weight: 600;
  display: inline-block;
  clear: both;
  font-size: 3.5rem;
  border: 7px solid #fff;
  margin-bottom: 20px; }
.main-slider .slick-slide .slider-ctn.ctn-green {
  color: #033; }
  .main-slider .slick-slide .slider-ctn.ctn-green h3 a {
    color: #033; }
.main-slider .slick-slide .slider-ctn.ctn-white p {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DINCond; }
.main-slider .slick-slide .slider-ctn.ctn-green h3 {
  font-size: 3.5rem;
  border: 7px solid #033;
  margin-bottom: 20px;
  background: #fff; }
.main-slider .slick-slide .slider-ctn.ctn-green p {
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: DINCond; }
.main-slider .slick-slide .slider-ctn .inner {
  display: inline-block;
  opacity: 0; }

.slick-ins .slick-next:before, .slick-ins .slick-prev:before {
  display: none; }

.slick-video .slick-next:before, .slick-video .slick-prev:before {
  display: none; }

.main-slider .slick-dots {
  bottom: 10px; }
  .main-slider .slick-dots li button:before {
    color: #fff;
    font-size: 8px;
    opacity: 0.8; }
  .main-slider .slick-dots li.slick-active button:before {
    color: #103333;
    opacity: 1; }
.main-slider .slick-slide.slick-current .inner {
  -webkit-animation-name: fadeInUp1;
  animation-name: fadeInUp1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInUp1 {
  from {
    opacity: 0;
    transform: translate3d(0, 100px, 0); }
  to {
    opacity: 1;
    transform: none; } }
.art-1:hover img, .slider-1 .slick-slide:hover a img {
  transform: scale(1.1); }

.fadeInUp1 {
  animation-name: fadeInUp1; }

@media (max-width: 768px) {
  .main-slider .slick-slide .slider-ctn.ctn-white h3 {
    font-size: 2.5rem;
    padding: 8px 30px;
    border: 5px solid #fff;
    margin-bottom: 5px; }
  .main-slider .slick-slide .slider-ctn.ctn-white p {
    font-size: 1.75rem; }
  .main-slider .slick-slide .slider-ctn.ctn-green h3 {
    font-size: 2.5rem;
    padding: 10px 30px 6px 30px;
    border: 5px solid #033;
    margin-bottom: 5px; }
  .main-slider .slick-slide .slider-ctn.ctn-green p {
    font-size: 1.75rem; } }
@media (max-width: 736px) {
  .main-slider .slick-slide .slider-ctn.ctn-white h3 {
    font-size: 2rem;
    padding: 6px 20px 3px 20px;
    border: 5px solid #fff;
    margin-bottom: 3px; }
  .main-slider .slick-slide .slider-ctn.ctn-white p {
    font-size: 1rem; }
  .main-slider .slick-slide .slider-ctn.ctn-green h3 {
    font-size: 2rem;
    padding: 6px 20px 4px;
    border: 5px solid #033;
    margin-bottom: 3px;
    line-height: 1; }
  .main-slider .slick-slide .slider-ctn.ctn-green p {
    font-size: 1rem; } }
@media (max-width: 480px) {
  .main-slider {
    margin-right: -15px;
    margin-left: -15px; }
    .main-slider .slick-slide .slider-ctn.ctn-green h3, .main-slider .slick-slide .slider-ctn.ctn-white h3 {
      font-size: 1.5rem; }
    .main-slider .slick-slide .banner-outer {
      padding-bottom: 80%; } }
.slick-video .slick-slide {
  margin: 0 20px; }
.slick-video .slick-next {
  width: 31px;
  height: 32px;
  background: url(../images/icon-next.png) no-repeat;
  background-size: cover;
  opacity: 0.8; }
.slick-video .slick-prev {
  width: 31px;
  height: 32px;
  background: url(../images/icon-pre.png) no-repeat;
  background-size: cover;
  opacity: 0.8; }
.slick-video .slick-next:hover, .slick-video .slick-prev:hover {
  opacity: 1; }

@media (max-width: 480px) {
  .slick-video .slick-next {
    width: 16px;
    height: 16px;
    right: 0;
    z-index: 90; }
  .slick-video .slick-prev {
    width: 16px;
    height: 16px;
    left: 0;
    z-index: 90; } }
.slick-ins {
  padding: 0 10px; }
  .slick-ins .slick-slide {
    margin: 0 10px; }
  .slick-ins .slick-next {
    width: 31px;
    height: 32px;
    background: url(../images/icon-next.png) no-repeat;
    background-size: cover;
    opacity: 0.8; }
  .slick-ins .slick-prev {
    width: 31px;
    height: 32px;
    background: url(../images/icon-pre.png) no-repeat;
    background-size: cover;
    opacity: 0.8; }

.frm-find .inner-form .btn-find, .frm-find h3 {
  background: #103333;
  line-height: 42px;
  color: #fff;
  text-transform: uppercase; }

.slick-ins .slick-next:hover, .slick-ins .slick-prev:hover {
  opacity: 1; }

@media (max-width: 480px) {
  .slick-ins .slick-next {
    width: 16px;
    height: 16px;
    right: 0;
    z-index: 90; }
  .slick-ins .slick-prev {
    width: 16px;
    height: 16px;
    left: 0;
    z-index: 90; } }
.frm-find {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; }
  .frm-find h3 {
    height: 40px;
    font-size: 1rem;
    font-family: helveticaneuecond_bold;
    border-radius: 2px; }
  .frm-find .inner-form {
    overflow: hidden; }
    .frm-find .inner-form .txt-form {
      width: 280px;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      font-size: 0.9rem;
      border: 1px solid #103333;
      float: left;
      font-family: AvenirNextLTPro-Regular;
      border-radius: 2px;
      outline: 0; }
    .frm-find .inner-form .btn-find {
      width: 112px;
      font-size: 0.9rem;
      padding: 0 10px;
      height: 40px;
      border: 0;
      float: right;
      border-radius: 2px;
      font-family: helveticaneuecond_bold; }

@media (max-width: 480px) {
  .frm-find .inner-form .txt-form {
    width: 100%;
    margin-right: 0; }
  .frm-find .inner-form .btn-find {
    width: 100%;
    margin-top: 8px; } }
.slick-slider-1 {
  margin: 0 50px;
  padding: 0 30px; }
  .slick-slider-1 article {
    margin: 0 5px;
    position: relative; }
    .slick-slider-1 article h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      font-size: 1.25rem;
      margin: 0; }

.slick-slider .slick-prev:before, .slick-slider-1 .slick-next:before {
  font-size: 2rem;
  color: #103333; }

.slider-1 .slick-next:before, .slider-1 .slick-prev:before {
  font-size: 2rem;
  color: #103333; }

.slick-slider-1 article h3 a {
  color: #fff;
  display: block;
  padding: 10px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-family: helveticaneuecond_bold, Arial, sans-serif; }
.slick-slider-1 .slick-prev {
  left: 0; }
.slick-slider-1 .slick-next:before {
  font-family: FontAwesome;
  content: ""; }
.slick-slider-1 .slick-prev:before {
  font-family: FontAwesome;
  content: ""; }
.slick-slider-1 article:hover {
  margin-top: -10px; }
.slick-slider-1 .slick-list {
  padding-top: 10px; }

@media (max-width: 768px) {
  .slick-slider-1 {
    margin-left: 0;
    margin-right: 0; } }
.slider-1 {
  padding: 0 30px; }
  .slider-1 .slick-slide a {
    margin: 0 10px;
    position: relative;
    display: block;
    overflow: hidden; }
  .slider-1 .slick-prev {
    left: 0; }
  .slider-1 .slick-next:before {
    font-family: FontAwesome;
    content: ""; }
  .slider-1 .slick-prev:before {
    font-family: FontAwesome;
    content: ""; }

@media (max-width: 480px) {
  .slider-1 {
    padding: 0;
    width: 90%;
    position: static;
    margin-top: -25px; }
    .slider-1 .slick-list {
      overflow: visible; }
    .slider-1 .slick-next, .slider-1 .slick-prev {
      display: none !important; }
    .slider-1 .slick-slide a {
      margin: 0 5px; } }
.art-1 {
  margin-bottom: 40px;
  font-family: helveticaneuecond_bold, Arial, sans-serif; }

.art-left h4, .art-user strong {
  font-family: AvenirNextLTPro-Bold; }

.art-1 > h3 {
  font-size: 1.25rem;
  margin: 10px 0 0; }
  .art-1 > h3 a {
    color: #103333; }

.art-left {
  color: #4f5151; }
  .art-left h4 {
    color: #4f5151; }

.art-1 > div {
  position: relative;
  overflow: hidden; }
  .art-1 > div .time {
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem; }
    .art-1 > div .time > span {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 2px solid #103333;
      display: block; }
    .art-1 > div .time > p {
      margin-bottom: 0; }
      .art-1 > div .time > p span {
        display: block; }
  .art-1 > div .price {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1rem; }

@media (max-width: 1024px) {
  .highlight .row .col-md-4.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; } }
@media (max-width: 480px) {
  .highlight .row .col-md-4.col-sm-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .art-1 {
    margin-bottom: 20px; }
    .art-1 > div .price {
      padding: 8px 15px;
      font-size: 1.25rem; } }
.art-left h4, .art-left p {
  margin-bottom: 10px; }

.doc {
  background: #000; }

.inner-banner {
  padding: 50px 30px;
  background: #ebf5f5; }

.art-left h4 {
  font-size: 1.25rem;
  text-transform: uppercase; }
.art-left p:last-child {
  margin-bottom: 0; }

.outer-img {
  position: relative; }

.inner-banner-1 {
  height: 50px;
  line-height: 52px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #333;
  background: #ebf5f5; }

.img-banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  padding-bottom: 26%; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .art-left {
    position: absolute;
    width: 260px;
    bottom: 15px;
    left: 50%;
    margin-left: -130px; }

  .inner-banner {
    position: relative;
    padding-bottom: 130px; }
    .inner-banner .row .col-sm-6 {
      position: static; } }
@media (max-width: 767px) {
  .art-left h4 {
    font-size: 1.125rem; }

  .img-banner {
    padding-bottom: 50%; }

  .art-left {
    width: 100%;
    padding-top: 91px;
    text-align: center;
    padding-bottom: 10px; }

  .inner-banner {
    padding-bottom: 30px; }
    .inner-banner .col-sm-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
@media (max-width: 480px) {
  .img-banner {
    padding-bottom: 60%; }

  .banner-1 {
    margin-left: -15px;
    margin-right: -15px;
    position: relative; }
    .banner-1 .inner-banner-1 {
      position: absolute;
      top: 50%;
      letter-spacing: 0;
      width: 100%;
      margin-top: -16px;
      font-size: 1.5rem;
      padding: 10px 15px;
      line-height: 1.2;
      height: auto; }
      .banner-1 .inner-banner-1 p {
        margin-bottom: 0; }

  .art-left {
    padding-top: 100px; } }
@media (max-width: 361px) {
  .art-left {
    padding-top: 90px; } }
.art-user {
  text-transform: uppercase; }

.outer-img .art-user {
  position: absolute;
  bottom: -128px;
  left: 50%;
  margin-left: -120px;
  z-index: 10; }

.art-user a {
  color: #333; }
.art-user img {
  width: 240px;
  display: block;
  border-radius: 300px; }
.art-user strong {
  display: block;
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 0; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .art-user img {
    width: 110px; } }
@media (max-width: 767px) {
  .art-user img {
    width: 150px;
    display: block;
    border-radius: 300px;
    margin: 0 auto;
    border: 5px solid rgba(255, 255, 255, 0.5); }

  .outer-img .art-user {
    position: absolute;
    bottom: -120px;
    left: 50%;
    margin-left: -100px;
    z-index: 10;
    width: 200px; }

  .art-user strong {
    font-size: 1.75rem; } }
@media (max-width: 376px) {
  .art-user strong {
    font-size: 1.5rem; } }
.block-user {
  overflow: hidden;
  border-bottom: 2px solid #ccd6d6;
  padding-top: 5px; }
  .block-user .art-user {
    float: left;
    max-width: 150px;
    text-transform: none; }

.art-blog, .block-1 h3, .list-tool, .list-tool-1 li a, .sub-title span {
  text-transform: uppercase; }

.table-style tr td:first-child, .table-style tr td:nth-child(2) {
  text-transform: uppercase; }

.block-user .art-user strong {
  font-size: 1.25rem;
  margin: 5px 0 0;
  color: #333; }
.block-user .art-user a {
  color: #535353; }
  .block-user .art-user a > span {
    color: #333; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .block-user {
    padding-bottom: 5px; }

  .art-user.center img {
    width: 180px; }

  .outer-img .art-user.center {
    margin-left: -90px; } }
@media (max-width: 767px) {
  .block-user {
    text-align: center;
    border-bottom: 0; }
    .block-user .art-user {
      float: none;
      display: inline-block;
      margin-top: 10px; }
    .block-user .art-user-1 {
      width: 100%;
      clear: both;
      overflow: hidden;
      text-align: left;
      max-width: 100%; }
      .block-user .art-user-1 .art-user a {
        overflow: hidden; }
      .block-user .art-user-1 strong {
        margin-top: 0; }

  .art-user-1 img {
    float: left;
    margin-right: 10px;
    width: 100px; } }
.art-right {
  text-align: right; }

.block-1 h3 i, .fck .box-style, .list-social li a, .list-tool-1 li, .outer-social, .sub-title {
  text-align: center; }

.art-right ul {
  float: right; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .art-right ul.list-social {
    margin-left: 15px; } }
@media (max-width: 767px) {
  .art-right ul.list-social {
    float: right;
    margin-left: 0;
    text-align: center;
    clear: both;
    margin-top: 10px; }
  .art-right ul.list-tool {
    float: left;
    margin-left: 0;
    text-align: center;
    margin-top: 10px; } }
@media (max-width: 480px) {
  .art-right ul.list-social {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-top: 20px; }
  .art-right ul.list-tool {
    float: none;
    margin-left: 0;
    width: 100%;
    margin-top: 32px; } }
@media (max-width: 376px) {
  .art-right ul.list-social {
    margin-top: 10px; }
  .art-right ul.list-tool {
    margin-top: 22px; } }
.list-social {
  margin-bottom: 0;
  margin-left: 70px;
  margin-top: 25px; }
  .list-social li {
    display: inline-block;
    margin: 0 3px;
    vertical-align: top; }
    .list-social li a {
      background: #262626;
      display: block;
      width: 38px;
      height: 38px;
      line-height: 45px;
      border-radius: 100px; }
      .list-social li a i {
        font-size: 1.5rem;
        color: #fff;
        display: inline-block; }

.outer-social {
  float: right;
  margin-top: 150px; }
  .outer-social > span {
    display: block; }
  .outer-social .list-social {
    margin: 5px 0 0;
    padding-left: 0; }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .outer-social {
    margin-top: 10px; }

  .list-tool {
    position: absolute;
    left: 15px;
    top: 57px;
    text-align: center; } }
@media (max-width: 767px) {
  .outer-social {
    float: none;
    margin-top: 35px; } }
.list-tool {
  margin-bottom: 0;
  font-family: AvenirNextLTPro-Regular;
  margin-top: 15px; }
  .list-tool li {
    display: inline-block;
    margin: 0 10px; }
    .list-tool li a {
      font-size: 1.25rem;
      color: #033;
      font-family: AvenirNextMedium; }
      .list-tool li a i {
        display: block;
        font-size: 2.5rem; }

@media (max-width: 767px) {
  .list-tool li a {
    font-size: 1rem; } }
.list-tool-1 {
  float: left;
  margin: 55px 0 0 60px; }
  .list-tool-1 li {
    display: inline-block;
    margin: 0 30px;
    vertical-align: top; }
    .list-tool-1 li a {
      color: #333;
      font-size: 1.125rem;
      max-width: 100px;
      display: block; }
      .list-tool-1 li a i {
        display: inline-block;
        margin-bottom: 8px;
        clear: both; }
      .list-tool-1 li a span {
        display: block;
        line-height: 1.2; }
    .list-tool-1 li.item-Yoga span {
      font-size: 1.5rem; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .list-tool-1 {
    margin: 55px 0 0 20px; }
    .list-tool-1 li {
      margin: 0 15px; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  .list-tool-1 {
    margin: 35px 0 0;
    padding-left: 12px; }
    .list-tool-1 li {
      margin: 0 10px; } }
@media (max-width: 767px) {
  .list-tool-1 {
    margin: 35px 0 0;
    padding: 0;
    float: none;
    overflow: hidden; }
    .list-tool-1 li {
      margin: 0 2%;
      width: 25%;
      float: left; } }
@media (max-width: 480px) {
  .list-tool-1, .outer-social {
    margin-top: 25px; }

  .list-tool-1 li {
    margin: 0; }
    .list-tool-1 li a span {
      font-size: 0.815rem !important; } }
.block-1 {
  margin-bottom: 20px; }
  .block-1 h3 {
    font-size: 1.125rem;
    border-bottom: 2px solid #ccd6d6; }
    .block-1 h3 a {
      display: inline-block;
      padding: 5px 10px;
      background: #e9f4f4;
      color: #003334; }
    .block-1 h3 i {
      border: 2px solid #4c7070;
      width: 24px;
      height: 24px;
      line-height: 20px;
      padding: 0;
      font-size: 1rem;
      border-radius: 50%;
      color: #4c7070;
      margin-left: 5px; }
  .block-1 p {
    color: #333; }

.table-style tr td {
  border-top: 0;
  border-bottom: 2px solid #ccd6d6;
  font-family: AvenirNextLTPro-Regular;
  font-size: 0.75rem; }
  .table-style tr td a {
    color: #103333; }
    .table-style tr td a.btn-style {
      height: 27px;
      line-height: 27px;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      color: #fff;
      background: #103333;
      display: inline-block; }
      .table-style tr td a.btn-style:hover {
        opacity: 0.8; }
  .table-style tr td:first-child {
    font-family: AvenirNextLTPro-Bold;
    font-size: 0.75rem; }

@media screen and (max-width: 480px) {
  .table-style tr td:nth-child(2) {
    width: 85px; } }
.navbar-toggler-icon .bar {
  width: 100%;
  height: 2px;
  background-color: #033;
  border-radius: 300px;
  margin: 6px 0;
  display: block; }
  .navbar-toggler-icon .bar.bar-2 {
    margin: 6px 2px;
    width: auto; }

.sub-title {
  margin-top: -10px; }
  .sub-title span {
    font-size: 1.875rem;
    display: inline-block;
    height: 35px;
    line-height: 39px;
    padding: 0 5px;
    background: #07302c;
    color: #fff;
    font-family: DINCond;
    min-width: 190px; }

.fck {
  font-family: AvenirNextLTPro-Regular;
  font-size: 1.25rem; }
  .fck strong {
    font-family: AvenirNextLTPro-Bold; }

.art-blog, .fck .box-style, .pagging ul li {
  font-family: DINCond; }

.fck .box-style {
  padding: 20px 55px;
  font-size: 1.75rem;
  background: #ebf5f5;
  margin-bottom: 1rem; }

.box-slider {
  margin-bottom: 50px; }

@media screen and (max-width: 767px) {
  .fck {
    font-size: 1rem; }
    .fck .box-style {
      padding: 15px 40px;
      font-size: 1.5rem; } }
.list-item, .pagging ul {
  text-align: center;
  padding: 0; }

.outer-item {
  margin-bottom: 2rem; }
  .outer-item h2 {
    color: #618d88; }

.list-item {
  display: block;
  margin: 0 0 10px; }
  .list-item li {
    display: inline-block;
    margin: 0 2px; }

.pagging ul li {
  display: inline-block;
  font-size: 1.25rem; }
  .pagging ul li a {
    color: #07302C; }

.art-blog {
  margin: 30px 0;
  padding: 0 30px; }
  .art-blog .blog-tool {
    overflow: hidden;
    padding: 10px 0; }
    .art-blog .blog-tool .link-type {
      float: right;
      color: #618d88; }
    .art-blog .blog-tool .date {
      float: left;
      margin-top: 20px;
      color: #807d7d; }
  .art-blog h3 a, .art-blog p {
    color: #5c5959; }

@media screen and (max-width: 767px) {
  .art-blog {
    margin: 10px 0; } }
.item-mansory {
  margin: 0 -30px; }
  .item-mansory .col-art {
    width: 50%; }

@media (max-width: 480px) {
  .item-mansory {
    margin: 0; }
    .item-mansory .col-art {
      width: 100%; }

  .art-blog {
    padding: 0; } }
.outer-btn {
  display: block;
  padding-top: 5%;
  width: 100%;
  left: 0;
  padding-bottom: 11%; }
  .outer-btn span {
    font-size: 1.125rem;
    color: #959595; }
  .outer-btn i {
    font-size: 2.5rem;
    color: #959595;
    display: block; }

@media (max-width: 376px) {
  .outer-btn {
    display: block;
    padding-top: 1%;
    width: 100%;
    left: 0;
    padding-bottom: 10%; } }
.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.floating-arrow {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px); } }
@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px); } }
.hide-pc {
  display: none; }

.hide-mobile {
  display: block; }

@media screen and (max-width: 480px) {
  .hide-mobile {
    display: none; }

  .hide-pc {
    display: block; } }
.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*# sourceMappingURL=screen.css.map */
