@mixin clearfix {
    &:before, &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

@mixin fontawesome {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin border-radius($val...) {
    border-radius: $val;
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: quote($font-family);
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}.woff') format('woff'),
    url('#{$file-path}.ttf') format('truetype'),
    url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}


@mixin font-family($font) {
  font-family: $font, sans-serif;
  //
  //.fonts-loaded & {
  //  font-family: $font, sans-serif;
  //}
}

@mixin border-radius($val...) {
    border-radius: $val;
    -moz-border-radius: $val;
    -webkit-border-radius: $val;
}


