/* TYPOGRAPHY */

$font-body: 'AvenirNextDemiBold';
$font-body-regular: 'AvenirNextLTPro-Regular';
$font-second-bold: 'helveticaneuecond_bold';
$font-second-semi-bold: 'DINCond';


/* Font size */

$body-font-size:    1rem;

/* Colors */

$body-color:        #033;
$nav-color:         #103333;
$white-color:       #fff;
$link-color:        #033;
$blue-color:		#37647f;
$main-color: 		#f39600;

/* breakpoint */



