/* TYPOGRAPHY */

//$font-body: 'AvenirNext';
//$font-body-regular: 'AvenirNextLTPro-Regular';
//$font-second-bold: 'helveticaneuecond_bold';
//$font-second-semi-bold: 'DINCond';

$font-primary: 'avenir-next';
$font-secondary: 'DINCond';

$font-body: 'avenir-next';

/* Font size */

$body-font-size:    1rem;

/* Colors */

$body-color:        #003333;
$nav-color:         #103333;
$white-color:       #fff;
$link-color:        #033;
$blue-color:		#37647f;
$main-color: 		#f39600;

/* breakpoint */



