.footer {
    padding: 50px 0 0;
    background-color: #fff;
    color: #003333;
    z-index: 2;
    position: relative;

    h6 {
        font-family: $font-secondary;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: bold;
        &.heading {
            color: #003333;
            font-size: 17px;
            letter-spacing: 0;
            padding-top: 2em;
        }
        &.heading-1 {
            color: #618D88;
            font-size: 25px;
            letter-spacing: 7.5px;
            text-align: center;
        }
    }

    p {
        font-family: $font-primary;
        color: #003333;
        font-size: 0.875rem;
    }

    a {
        color: #003333;
    }

    b, strong {
        font-weight: 500;
    }
}

.footer {
    .copy,
    ul li {
        font-family: $font-primary ;
    }

    ul.info {
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        margin-top: 17px;
    }
    ul.slogan-icons {
        text-align: center;
        margin-bottom: 0;

        li {
            display: inline-block;
            padding: 0 5px;
            a i {
                max-width: 65px;
                background-size: contain;
            }
        }
    }
    .send-msg-btn {
        background: #003333;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
    }
}

footer .copy {
    font-family: $font-primary ;
}

.footer .copy,
footer .copy {
    border-top: 1px solid #003333;
    padding-top: 18px;
    margin-top: 18px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
}

.footer .copy .col-md-8,
footer .copy .col-md-8 {
    padding-top: 6px;
}

.footer ul.social li,
footer ul.social li {
    display: inline-block;
    margin-right: 9px;
    text-align: center;
}

.footer ul.social li a,
footer ul.social li a {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    background-color: #003333;
    border-radius: 15px;
    display: block;
    transition: all 0.4s ease;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.footer ul.social li a i,
footer ul.social li a i {
    line-height: 30px;
    color: #fff;
}

.footer ul {
    padding-left: 0;
    font-size: 0.875rem;
    line-height: 1.7;

    li {
        list-style: none;
    }
}

@media (max-width: 768px) {
    .footer .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media (max-width: 480px) {
    body .footer {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer {
        .col-sm-6 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .copy .row {
            display: block;
            overflow: hidden;
        }
    }

    .padding-leftright-null {
        float: left;
        width: auto;

        &.col-xs-8 {
            float: right;
            width: auto;
        }
    }
}